<!DOCTYPE html>
<html ng-app="trenchesApp">
<head>
	<title ng-bind='title'>Trenches</title>
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet"></link>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.17/angular.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.17/angular-route.js"></script>
	<script src="//cdn.firebase.com/js/client/1.0.18/firebase.js"></script>
	<script src="//cdn.firebase.com/libs/angularfire/0.8.0/angularfire.js"></script>
	<script src="//cdn.firebase.com/js/simple-login/1.6.3/firebase-simple-login.js"></script>
	<link href="style.css" rel="stylesheet"></link>
	<script src="app.js"></script>
</head>
<body>
	<h1>
		<a ng-href="/">Trenches</a>
	</h1>
	<div ng-controller="TrenchesCtrl" class='auth'>
		<div ng-show="auth.user">
			<p>Hello, {{auth.user.displayName}}</p>
			<button ng-click="auth.$logout()">Logout</button>
		</div>
		<div ng-hide="auth.user">
			<p>Welcome, please log in.</p>
			<button ng-click="auth.$login('twitter')">Login with <i class='fa fa-twitter'> Twitter</i></button>
			<button ng-click="auth.$login('github')">Login with <i class='fa fa-github'> GitHub</i></button>
		</div>
	</div>

<div ng-view></div>
  
<!-- Partials below -->
<script type="text/ng-template" id="boards.html">
	<h2>Boards</h2>
	<div ng-controller='BoardListCtrl'>
		<ul>
			<li ng-repeat="board in boards"><a href='#/board/{{board.$id}}'>{{board.settings.title}}</a></li>
		</ul>
	</div>
</script>

<script type="text/ng-template" id="board.html">
	<div ng-controller='BoardCtrl'>
		<h2>{{ settings.title }}</h2>
		<table class='board'>
			<tr class='head'>
				<th class='state' ng-repeat='state in states'>{{state}}</th>
			</tr>
			<tr class='story'>
				<td class='state state-{{state}}' ng-repeat='state in states'>
					<ol class='cards'>
						<li ng-repeat='card in cardsByState[state]'>
							<article class='card type-{{card.type}}'>
								<h4>{{card.title}}</h4>
								<p class='user' data-userid='{{auth.user.uid}}'>{{card.created_by}}</p>
								<p class='todo'>{{card.left_todo}}</p>
							</article>
						</li>
					</ol>
				</td>
			</tr>
		</table>
		<!--
		<ol class='cards'>
			<li ng-repeat='card in board.cards' >
				<article class='card type-{{card.type}}'>
					<h4>{{card.title}}</h4>
					<p class='user' data-userid='{{auth.user.uid}}'>{{card.created_by}}</p>
					<p class='todo'>{{card.left_todo}}</p>
				</article>
			</li>
		</ol>
		-->
	</div>
</script>


</body>
</html>