.auth {
	position: absolute;
	right: 0;
	top: 0;
}

ol.cards {
	list-style: none;
}
.card {
	display: inline-block;
	position: relative;
	width: 12em;
	height: 8em;
	margin-bottom: 1em;
	border: 1px solid silver;
}
.card * {
	margin: 0;
}

.card input, .card select {
	background-color: inherit;
	border-style: dotted;
	border-width: 1px;
}

.card .todo {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 2em;
	background-color: inherit;
	border-style: dotted;
	border-width: 1px;
	text-align: right;
}

.card .user {
	position: absolute;
	bottom: 0;
}

/* Card type translates to background color */
.type-task {
	background-color: #F7F7BE;
}

.type-bug {
	background-color: #FAA475;
}

.type-extra {
	background-color: #89FA92;
}

.type-other {
	background-color: #FA89F1;
}

/* */
table.board .state {
	width: 12em;
	padding: 1em;
	border: 1px dotted silver;
}
table.board th.state {
	padding: 0em 1em;
	text-transform: capitalize;	
}
table.board th.state .add-card {
	float: right;
}

.card .edit-card {
	float: right;
	padding-left: 2px;
	cursor: pointer;
}

.card button {
	position: absolute;
	bottom: 0;
	right: 0;
}

.draghandle {
	float: right;
}

label {
	float: left;
	clear: both;
}